<h1>Help Page</h1>
<p>This is the help page for our application.</p>
<p>If you have any questions, please contact support at <a href="mailto: alnotha@tamu.edu">Alyan Tharani </a>.</p>
<h2>Frequently Asked Questions</h2>
<ul>
  <li><strong>How do I reset my password?</strong> Click on the 'Forgot Password' link on the login page.</li>
  <li><strong>Where can I find the user manual?</strong> The user manual is available in the 'Documentation' section of the website.</li>
  <li><strong>How do I contact customer support?</strong> You can reach customer support via email at <a href="mailto:alnotha@tamu.edu">Alyan Tharani</a>.</li>
  <li><strong>How do I find more instructions</strong> You can view the README at <a href="https://github.com/teamup-org/cleo-asp-501">CLEO GitHub</a>.</li> 
</ul>